*{
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.container{
  display: block;
  width: 96vw;
  border: 1px solid black;
}
.header{
  background-color: lightblue;
  border: 1px solid black;
  height: 10vh;
  display: flex;
  align-items: center;
}
.header img{
  width: 10vw;
  height: 5vw;
  margin-top: 1.5vh;
}
.header h3{
  font-size: 20px;
  margin-left: 2vw;
}
.content{
  background-color: lightgreen;
  border: 1px solid black;
  min-height: 76vh;
}
.footer{
  background-color: lightcoral;
  border: 1px solid black;
  height: 10vh;
}
