* {
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.container {
  display: block;
  width: 96vw;
  border: 1px solid black;
}

.header {
  background-color: lightblue;
  border: 1px solid black;
  height: 10vh;
  display: flex;
  align-items: center; 
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 2vw;
}

.header .mobilemenu {
  display: none;
}

.header h3 {
  font-size: 20px;
  margin-left: 2vw;
}

.header img {
  width: 15vw;
  height: 10vw;
  margin-top: 1.5vh;
}

.content {
  background-color: lightgreen;
  border: 1px solid black;
  min-height: 76vh;
}

.footer {
  background-color: lightgray;
  border: 1px solid black;
  height: 10vh;
}

@media (max-width: 600px) {
  .header .systemview {
    display: none;
  }

  .header .mobilemenu {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .header .mobileview {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 10vh;
    left: 2vw;
    width: 96vw;
    background-color: rgb(144, 2, 50);
    border: 1px solid black;
  }

  .nav-link {
    color: white;
    font-size: 20px;
    background-color: rgb(254, 134, 144);
    border-radius: 10px;
    padding: 1vh;
    box-sizing: border-box;
  }

}